* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.banner {
    height: 100vh;
    background-image: url('./imagens/WhatsApp\ Image\ 2023-11-23\ at\ 07.18.10.jpeg');
    background-position: center center;
    background-size: cover;
    color: white;
}

.banner header h1 {
    font-weight: 400;
    padding-top: 20px;
    padding-left: 20px;
}

.banner-content h1 {
    font-size: 35px;
    font-weight: 900;
}

.banner h1 span {
    color: rgb(0, 26, 255);
}

.banner-content {
    height: 95vh;
    width: 100%;
    display: grid;
    gap: 15px;
    align-content: center;
    justify-items: center;
}

.banner-content p {
    text-align: center;
    width: 65%;
    line-height: 2;
}

.blue-button{
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
    background-color: rgb(68, 0, 255);
}

.blue-button:hover{
    transform: scale(1.1);
}

.card{
    display: flex;
    padding: 60px 60px;
    gap: 30px;
    align-items: center;
}

.card img{
    border-radius: 100%;
    width: 250px;
}

.card p{
    color: gray;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.6;
}

.card h2{
    margin-bottom: 15px;
}

.blue-card{
    background-color: rgb(55, 0, 255);
    color: white;
    flex-direction: row-reverse;
}

.blue-card p{
    color: white;

}
#white-button{
    background-color: white;
    color: black;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 60px 80px;
}

.card-image{
    width: 100%;
    border-radius: 100%;

}